In [ ]:
# The blue color outside the cell represents command mode.
# And the green color indicates edit mode.
# Press 'Esc' to get into command mode.
# Press 'Enter' to go back into edit mode.
# Press 'P' to view the list of all available commands.

In [1]:
# This is a coding cell.
# Let's write your first Python program here.

Name = input("Enter your name: ")
print("Hello,", Name)

# Press 'Shift + Enter' to execute the cell.

Enter your name: Sandeep
Hello, Sandeep

In [ ]:
# Writing comments in a code cell can sometimes creates confusion. Jupyter notebook works both as a notebook and a coding console. 
# To write explanatory texts, you can use a markdown cell which enables you to format your comments well to create a more
# readable code.

# Let's now learn about markdown cells, then.
# Press 'M' in command mode to convert a code cell to a Markdown cell.

This is a Markdown Cell. Double click on a markdown cell or press 'Enter' to see how it's written. And again, press 'Shift + Enter' to execute the cell.

Let's further learn about the various customizations in a markdown cell to create a more readable and understandable code.

# This is a title
## This is a heading
### This is a subheading
#### This is as small as a heading can get
##### The fifth hash makes it Italic. Wow!

## Formatting in Markdown cells

### Emphasis

__"This will appear bold."__

**"So will this."**

_"Just one dash makes it italic."_

*"And one star on either side as well."*

***"This one's both bold and italic."***

### Monospace Fonts

Use a back single quotation mark (\`) to get monospace fonts.

`This text will appear in monospace font.`
`Python is a beautiful language.`

### Line Breaks

Sometimes in the markdown cells, you don't get a line break where you want simply by pressing enter. In such cases use `<br>` to get a manual line break.

I want a line break here.
But I don't get it. :/
<br>
So I used a manual line break <br>
There we go! :)

### Indenting

Use `>` to indent your text.

This is the first line
> This indents the second line.
>> This further indents it.
>>> And this goes on and on.

### Bullets and Numbering

-  A dash followed by two spaces, i.e. `'-  '` creates a bullet.
    -  Pressing a tab before doing the above creates a sub-bullet.

1. Start with a simple `1. ` (1 followed by a dot and a space) to get a numbered list.
2. And keep doing it for further numbers.
    1. Again, just a tab for the sub-bullet.

### Coloring
 
-  <font color = blue> This text will be blue. </font>
-  <font color = yellow> I hate this color! </font>

### Adding an Image

You can add an image from the web by using `<img src = "image_path">`

Example:
<img src = "https://blog.upgrad.com/wp-content/uploads/2016/06/logo.png">

### LaTeX Equations

Jupyter notebook also supports LaTeX equations. Use a `$` on either side to write a LaTeX equation.

The below example is just a hypothetical equation to explain how you can write LaTeX equations in Jupyter notebook. 
<br>

$(\frac{a_1}{a_2} + \frac{a_3}{a_4})^2 = a_5^3$

Go through this [link](https://en.wikibooks.org/wiki/LaTeX/Mathematics) if you want to learn the LaTeX syntax.

### Basic Commands

That was all about markdown cells. Now let us take a look at the most useful commands that you require everyday while coding in the Jupyter notebook.

#### Command Mode Shortcuts
-  `Esc`: To go into command mode
-  `Enter`: To go back to edit mode
-  `M`: To convert a cell to a markdown cell
-  `Y`: To convert a cell back to a code cell
-  `A`: To insert new cell above
-  `B`: To insert new cell below
-  `D + D`: To delete cell
-  `Z`: Undo last operation
-  `F`: To find and replace on your code
-  `Shift + Up/Down`: To select multiple cells
-  `Space`: Scroll notebook downwards
-  `Shift + Space`: Scroll notebook upwards

#### Edit Mode Shortcuts
-  `Shift + Enter`: To execute the code in the current cell and go to the next cell
-  `Alt + Enter`: To execute the code in the current cell and insert new cell below
-  `Shift + Tab`: To get a brief documentation of the object that you have just typed in the coding cell
-  `Ctrl + Shift + -`: To split the cell at cursor
-  `Shift + M`: To merge selected cells

Apart from this, you can also use `H` to open the list of keyboard shortcuts and even add new shortcuts or customize the existing shorcuts according to your personal requirements.

In [2]:
x = 3.5
print(float(int(x)))

3.0

In [3]:
name = Varma

print(type(name))

NameError: name 'Varma' is not defined

In [4]:
 a = 4 + (8 ** 2) - 3 ** 2 % 1

In [5]:
a

68

In [6]:
x = 3
y = 2.5
z = 5
print(X + y / z)

NameError: name 'X' is not defined

In [7]:
b=4 % (1 + 9)**2 - 60 // (7 + 2)

In [8]:
b

-2

In [9]:
string = 'mvqugvqhc2ndoi'

In [10]:
len(string)

14

In [11]:
string()

NameError: name 'n' is not defined

In [12]:
c='I love Python programming'

In [13]:
I love Python programming

SyntaxError: invalid syntax (<ipython-input-13-302d04179d64>, line 1)

In [14]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [15]:
string = 'I love breaking bad'

In [17]:
print(string.count('a'))

2

In [18]:
tuple = (2,3.2,4,5)

In [19]:
min(tuple)

2

In [20]:
sum(tuple)

14.2

In [21]:
max(tuple)

5

In [22]:
x =(1,2,3)

In [23]:
x[2]=5

TypeError: 'tuple' object does not support item assignment

In [24]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [25]:
 t = (1, 2, 4, 3)

In [26]:
print(t[4])

IndexError: tuple index out of range

In [27]:
t[3]=5

TypeError: 'tuple' object does not support item assignment

In [28]:
print(t[1:-4])

()

In [29]:
print(len(t))

4

In [32]:
input_str='Kumar_Ravi_003'
first_name=input_str.split('_')[1]
second_name=input_str.split('_')[0]
customer_code=input_str.split('_')[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [33]:
list_1=[2, 33, 222, 14, 25]

In [34]:
list_1[-5]

2

In [35]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [36]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [37]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [38]:
input_list[2][0]

'Python'

In [39]:
input_list[2]

['Python', 'Java']

In [40]:
input_list[0]

['SAS', 'R']

In [41]:
input_list[1]

['Tableau', 'SQL']

In [42]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [44]:
A=[1,2,3,4,5,5,5,5]
B=[5,5,1,3,4]
answer=(A.union(B)).difference(A.intersection(B))
print(answer)

AttributeError: 'list' object has no attribute 'union'

In [45]:
if (X<1000):
    print('No')
else:
    if (X>1100 ):
        print('No')
    else:
        print('Yes')

NameError: name 'X' is not defined

In [46]:
X=50
if (X<1000):
    print('No')
else:
    if (X>1100 ):
        print('No')
    else:
        print('Yes')

No

In [49]:
X = 12

if (X > 10 & X < 15):
    print('YES')
else:
    print('No')

YES

In [50]:
input_str = 'analytics'
if input_str[0] in 'aeiou'
    print(YES)
else
    print(NO)

SyntaxError: invalid syntax (<ipython-input-50-ca5778987791>, line 2)

In [52]:
a=10
b=16
c=20

if( a>b ):
    print("a")
elif( b>c):
    print("b")
else:
     print("c")

c

In [55]:
score = int(input("Enter your score : "))
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

Enter your score : 93
A

In [56]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [57]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [58]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for i in L3:
    L3[i] = L1[i] - L2[i]

In [59]:
L3[i]

8

In [66]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for i in range(len(L2)): 
     L3.append(L2[i] -L1[i])  
print(L3)

[-2, -6, -15, -4, -8]

In [75]:
fruits=["Banana", "apple", "Orange","Orange","Apple","banana","banana","Banana", "Apple", "Orange","Orange","Apple","Banana"]

banana=[]
apple=[]
orange=[]

for x in fruits:
    if x.upper()=="Banana".upper():
        banana.append(x)
    elif x=="Apple":
        apple.append(x)
    elif x=="Orange":
        orange.append(x)
print("Number of Bananas: " + str(len(banana)))
print("Number of Apples: "+ str(len(apple)))
print("Number of Oranges: "+ str(len(orange)))

SyntaxError: invalid syntax (<ipython-input-75-3e414d4a1bc4>, line 8)

In [85]:
s = 'I love Python'

In [92]:
s[2:5]

'lov'

In [89]:
s[-11:-7]

'love'

In [93]:
3 * 3 ** 3

81

In [94]:
T = (3, 5, 7, 11)

In [95]:
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [96]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [98]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(len(l))
l

6

[32, 34, 12, 27, 33, [14, 19]]

In [100]:
a={1,2,3,3}

In [101]:
a.add(4)

In [102]:
a

{1, 2, 3, 4}

In [114]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(D[val].values())

AttributeError: 'list' object has no attribute 'values'

In [115]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [116]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
i = 0
while i < len(L1):
    print(L1[i] - L2[i], end=' ')
    i = i + 1

2 6 15 4 8

In [117]:
u=list(range(0, -101, 2))
u

[]

In [118]:
k=list(range(-100, -1, 2))
k

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [119]:
l=sorted(set(range(-2, -101, -2)))

In [120]:
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [121]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
l

[-100,
 -98,
 -96,
 -94,
 -92,
 -90,
 -88,
 -86,
 -84,
 -82,
 -80,
 -78,
 -76,
 -74,
 -72,
 -70,
 -68,
 -66,
 -64,
 -62,
 -60,
 -58,
 -56,
 -54,
 -52,
 -50,
 -48,
 -46,
 -44,
 -42,
 -40,
 -38,
 -36,
 -34,
 -32,
 -30,
 -28,
 -26,
 -24,
 -22,
 -20,
 -18,
 -16,
 -14,
 -12,
 -10,
 -8,
 -6,
 -4,
 -2]

In [122]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2