In [1]:
import numpy as np
import pandas as pd

In [30]:
df = pd.read_csv('MegaMart_sales.csv')
df_new = pd.read_csv('MegaMart_newsales.csv')

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [54]:
#your code here
df3=pd.concat([df,df_new],axis=0,ignore_index=True) 
df3

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,Order no,no_of_digits
0,AZ-2011-1029887,"Novimex Color Coded Labels, 5000 Label Set",0.0,26,7,2,Office Supplies,Labels,1029887,7.0
1,AZ-2011-107716,"Deflect-O Door Stop, Erganomic",0.0,85,15,2,Furniture,Furnishings,107716,6.0
2,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,1087704,7.0
3,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,1372644,7.0
4,AZ-2011-1362199,"Sanford Pens, Fluorescent",0.5,25,-11,4,Office Supplies,Art,1362199,7.0
...,...,...,...,...,...,...,...,...,...,...
72,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,NaN,NaN
73,AZ-2011-1976919,"Boston Markers, Blue",0.0,132,54,5,Office Supplies,Art,NaN,NaN
74,AZ-2011-2001312,"Avery Binding Machine, Clear",0.0,97,12,2,Office Supplies,Binders,NaN,NaN
75,AZ-2011-2002251,"SanDisk Computer Printout Paper, 8.5 x 11",0.0,136,15,4,Office Supplies,Paper,NaN,NaN
76,AZ-2011-201891,"Cameo Clasp Envelope, with clear poly window",0.0,52,19,4,Office Supplies,Envelopes,NaN,NaN

Category
Furniture          2748
Office Supplies    7852
Technology         7587
Name: Sales, dtype: int64

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [1]:
#your code here
df3 = df3.drop_duplicates()

NameError: name 'df3' is not defined

In [58]:
df3.groupby(by='Category').Sales.sum()

Category
Furniture          2748
Office Supplies    7852
Technology         7587
Name: Sales, dtype: int64

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [52]:
#your code here
df_droped_duplicates.groupby(by=['Category','Sub-Category']).Profit.sum()

Category         Sub-Category
Furniture        Bookcases        308
                 Chairs           -49
                 Furnishings       74
Office Supplies  Appliances       229
                 Art              275
                 Binders          156
                 Envelopes         35
                 Fasteners         10
                 Labels            30
                 Paper             15
                 Storage          192
                 Supplies         103
Technology       Accessories      215
                 Copiers            0
                 Machines         168
                 Phones          1618
Name: Profit, dtype: int64

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of valid order order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [44]:
#your code here
df['Order no'] = df['Order ID'].str.split('-')
df['Order no'] = df['Order no'].apply(lambda x: x[2])

In [46]:
df['no_of_digits'] = df['Order no'].apply(lambda x: len(x))

In [47]:
df['no_of_digits'].value_counts()

7    61
6     7
Name: no_of_digits, dtype: int64

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [53]:
#your code here
orders_top_25 = df_droped_duplicates[['Sales','Profit','Category','Product Name']].head(25)
print(orders_top_25[orders_top_25['Category']=='Furniture'])

    Sales  Profit   Category                        Product Name
1      85      15  Furniture      Deflect-O Door Stop, Erganomic
5      76      11  Furniture          Tenex Stacking Tray, Black
10     88       3  Furniture          Deflect-O Door Stop, Black
12    541     156  Furniture      Safco Stackable Bookrack, Pine
17    307      99  Furniture    Office Star Chairmat, Adjustable
21     87     -78  Furniture  Office Star Bag Chairs, Set of Two
26     38      11  Furniture             Tenex Light Bulb, Black

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [ ]:
#your code here

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [ ]:
#your code here